<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-create-kitten (sendKitten)="addKitten($event)"></app-create-kitten>
        </div>
        <div class="col-md-6">
            <app-list-kitten 
            (adoptKitten)="addMyKitten($event)"
            [kittenList]="kittenList"></app-list-kitten>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-user-kitten [mykittenList]="mykittenList"></app-user-kitten>
        </div>
    </div>
</div>