<div class="container">
    <div class="row">
        <div class="col-md-6">
        <h1>List of Kittens</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Breed</th>
                <th>birthday</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kitten of kittenList">
                <td>{{kitten.id}}</td>
                <td>{{kitten.name}}</td>
                <td>{{kitten.breed}}</td>
                <td>{{kitten.birthDay}}</td>
                <td><button 
                      (click)="adoptMe(kitten)"
                      type="button" 
                      class="btn btn-primary">
                      adopt kitten
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
